/* Reset and basic styles */
body {
  background-color: #f7f0e8; /* soft beige background */
  margin: 0;
  padding: 0;
  font-family: 'Cardo', serif;
  color: #5c4033; /* deep brown text color */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align to the top */
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif; /* Non-serif font */
  margin-top: 20px; /* Adds some space from the top */
}

h2 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 40px;
}

p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 5px 0;
}

/* Link styling */
a {
  color: #5c4033;
  text-decoration: underline; /* Ensure links are underlined by default */
}

a:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
}

/* Import Playfair Display font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
